<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogify</title>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/nav') %>
        <div class="container">
            <div class="row row-cols-4">
                <% blogs.forEach(blog=> { %>
                    <div class="m ">
                        <div class="col">
                            <div class="card ml-3" style="width: 18rem;">
                                <img src="<%= blog.coverImgURL %>" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=blog.title %>
                                    </h5>
                                    <!-- <p class="card-text"><%= blog.body %></p> -->
                                    <a href="/blog/<%= blog._id %>" class="btn btn-primary  my-2">View</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
        <%- include('./partials/scripts') %>
</body>

</html>